.content {
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.listItem {
    display: flex;
    flex-direction: row ;
    width: 50%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.backgroundModalProduct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.modalProduct {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btnModal{
    display: flex;
}
.btnModal > button:nth-child(1){
    border: none;
    outline: none;
    background: rgb(16, 169, 16);
    font-size: 1rem;
    color: white;
    padding: 15px 35px;
    border-radius: 999px;
    cursor: pointer;
    margin: 0 10px;
}
.btnModal > button:nth-child(2){
    border: none;
    outline: none;
    font-size: 1rem;
    background: rgb(255, 48, 48);
    color: white;
    padding: 15px 35px;
    border-radius: 999px;
    cursor: pointer;
    margin: 0 10px;
}
.btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.imageProduct{
    width: 5rem;
    height:5rem;
    border-radius: 15px;
}

.text {
    padding: 0 1rem;
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family: monospace;
  }

  .text h2{
   font-weight: bold;
  }

  .text h1{
    font-size: 32px;
   }

  .container{
    display: flex;
    flex-direction: row;
  }

  .totalContainer{
    height: 100%;
    justify-content: center;
    margin-top: 10rem;
    margin-right: 2rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .displayTotal{
    width: max-content;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
  }

  .underline{
    align-self: center;
    height: 0.1rem;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 999px;
    background-color: #011130;
  }

  .button {
    background-color: #01153e;
    /* margin: 0rem 5rem; */
    color: #fff;
    /* padding: 10px 0px; */
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    padding: 1rem;
    margin: 1rem 3rem;
    text-decoration: none;
    border: 2px solid #011130;
    transition: all 0.2s ease-in-out;
  }

  .button:hover {
    color: white;
    border: 2px solid #233dcf;
    background-color: #233dcf;
  }

