.content {
    width: max-content;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 109px;
}

.listItem {
    display: flex;
    flex-direction: row ;
    min-width: 35rem;
    width: max-content;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.backgroundModalProduct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.modalProduct {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.listItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

.btnModal{
    display: flex;
}
.btnModal > button:nth-child(1){
    border: none;
    outline: none;
    background: rgb(16, 169, 16);
    font-size: 1rem;
    color: white;
    padding: 15px 35px;
    border-radius: 999px;
    cursor: pointer;
    margin: 0 10px;
}
.btnModal > button:nth-child(2){
    border: none;
    outline: none;
    font-size: 1rem;
    background: rgb(255, 48, 48);
    color: white;
    padding: 15px 35px;
    border-radius: 999px;
    cursor: pointer;
    margin: 0 10px;
}
.btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.imageProduct{
    width: 4rem;
    height:4rem;
    border-radius: 15px;
}

.text {
    width: max-content;
    padding: 0 1rem;
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family: monospace;
}

.text h2{
   font-weight: bold;
}

.text h1{
    font-size: 32px;
}

.container{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

.totalContainer{
    height: 100%;
    padding:1rem 0;
    margin-top: 12.2rem;
    /* margin-right: 13rem; */
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    border: 5px solid #011130;
    border-radius: 15px;
}

.displayTotal{
    width: max-content;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1.5rem;
    margin: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 15px;
}

#underlineCommande{
    margin-left: 1rem;
    align-self: flex-start;
    width: 40%;
}

#underlineBasket{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 60%;
}
#underlineSeparate{
    height: 0.1rem;
    width: 100%;
}

.underline{
    align-self: center;
    height: 0.2rem;
    border-radius: 999px;
    background-color: #011130;
}

.button {
    background-color: #01153e;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    padding: 1rem;
    margin: 1rem 3rem;
    text-decoration: none;
    border: 2px solid #011130;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: white;
    border: 2px solid #233dcf;
    background-color: #233dcf;
}

